<%- include(./../header)%>
	<div class= "image-container">
		<div class="getStarted">
			<a href="#">Get Started</a>
		</div>
	</div>
	<div class="demo-book">
		<div class="container">
			<div class="row">
			<div class="col-md-4 col-sm-1">
				<div class="demoBook">
					<img src="https://dummyimage.com/200x300/000/fff">
					<div class="book-content">
						<h3>New Book</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-1">
				<div class="demoBook">
					<img src="https://dummyimage.com/200x300/000/fff">
					<div class="book-content">
						<h3>New Book</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-1">
				<div class="demoBook">
					<img src="https://dummyimage.com/200x300/000/fff">
					<div class="book-content">
						<h3>New Book</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<footer>
		<div class="footer">
			
		</div>
	</footer>
	<div class="test waves-effect waves-light" style="background-color: red; width: 50px; height: 50px;">
		
	</div> 


	<script src="./js/BookIndex.js"></script>
</body>
</html>