
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Glitch!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" type="text/css" href="/bookStores/css/BookIndex.css">
    <link rel="stylesheet" type="text/css" href="/bookStores/bootstrap.min.css"> <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet">
     <script src="/bookStores/js/bootstrap.min.js"></script>
     <script src="/bookStores/js/jquery.js"></script>
     <script defer src="/bookStores/js/BookIndex.js"></script>
     <title>BookStore</title>
  </head>
  <style>
    .table td {
      vertical-align: middle!important;
    }
  </style>
  <body>
    <header>
      <div class="menu">
        <div class="Logo">
          <img src="https://dummyimage.com/200x80/000/fff">
        </div>
        <div class="Home">
          <a class="nav-item nav-link active" href="/books">Books <span class="sr-only">(current)</span></a>
        </div>
        <div class="Product">
          <a class="nav-item nav-link" href="/users">Users</a>
        </div>
        <div class="Contact">
          <a class="nav-item nav-link" href="/transactions">Transactions</a>
        </div>
        <div class="Blog">
          <a class="nav-item nav-link" href="/carts">Cart(<%if(typeof count != "undefined") {%> 
              <%-count %>
            <%}else { %>
                  0
              <% } %>)
          </a> 
        </div>
        <div class="shop">
          <a class="nav-item nav-link" href="/shops">Shop</a>
        </div>
        <div class="Logout">
          <a class="nav-item nav-link" href="/logout">Logout</a> 
        </div>
      </div>
      <div class="responsiveMenu">
        <div class="responsiveLogo">
          <img src="https://dummyimage.com/100x50/000/fff">
        </div>
        <div class="toggleButton">
          <i class="fas fa-align-justify fa-3x"></i>
        </div>
      </div>
      <div class="resMenu">
        <i class="fas fa-times fa-2x removeResMenu"></i>
        <ul>
          <li> 
            <a class="nav-item nav-link active" href="/books">Books <span class="sr-only">(current)</span></a>
          </li>
           <li>
             <a class="nav-item nav-link" href="/users">Users</a>
          </li>
          <li>
            <a class="nav-item nav-link" href="/transactions">Transactions</a>
          </li>
          <li>  
            <a class="nav-item nav-link" href="/carts">Cart(<%if(typeof count != "undefined") {%> 
                  <%-count %>
              <%}else { %>
                    0
                <% } %>)
            </a> 
          </li>
          <li>
            <a class="nav-item nav-link" href="/shops">Shop</a>
          </li>
          <li>
            <a class="nav-item nav-link" href="/logout">Logout</a>
          </li>
          </ul>
      </div>
    </header>
   
    