<%- include('./../header') ;%>  
    <main>
        <% if(typeof shops !== "undefined" && shops.length > 0) { %>
            <h2>
                Link quan tri
            </h2>
            <% for(let i of shops) { %>
                <a style="font-size: 30px;" href="/shops/userControl/<%- i._id%>"><%- i.shopName %></a>
            <% } %>
        <% } else { %>
            <h2>
                Tao 1 shop moi
            </h2>
            <a class="btn btn-primary" href="/shops/create">Create</a>
        <% } %>
    </main>

    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
